{% extends "base.html" %}

    {% block headlinks %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" class="rel">
    {% endblock %}

  {% block content %}
    <div id="app" style="height: 100%; min-height: 100%;">
          
      <nav class="nav has-shadow">
        <div class="container">
          <div class="nav-left">
            <!-- search bar -->
            <div class="navbar-item">
              <input class="input is-small my-1" type="text" id="song-search" input="text" placeholder="Search songs">
            </div>

            <!-- composers filter dropdown  -->
            <div class="navbar-item">
              <div class="control">
                <div class="select is-small my-1">
                  <select id="select-composer">
                    <option class="composer"> All Composers</option>
                    {% for composer in composers %}
                      <option class="composer" data-id="{{ composer.id }}">{{ composer.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

          </div>
          <label for="menu-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <input type="checkbox" id="menu-toggle" class="navbar-burger is-hidden">
          <div class="nav-right nav-menu" style="max-height: 15rem; overflow-y: auto;">
            <ul id="nav-songlist" class="songs">
              <li>
                <a class="nav-item is-tab is-hidden-tablet">
                  <span class="icon"><i class="fas fa-table"></i></span> Library
                </a>
              </li>
              {% for song in songs %}
                <li>
                  <a class="song nav-item is-tab is-hidden-tablet" data-id="{{ song.id }}" data-title="{{ song.title }}">
                    <span class="icon"><i class="fa fa-music"></i></span> {{ song.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <section class="columns is-fullheight">
        <!-- playlist sidebar -->
        <aside class="column px-1 is-2 is-mobile is-fullheight section is-hidden-mobile" style="overflow: auto;">
          <p class="menu-label">Songs</p>
          <ul id="side-songlist" class="songs menu-list">
            <!-- list of Songs -->
            {% for song in songs %}
              <li>
                <a href="#" class="song" data-id="{{ song.id }}" data-title="{{ song.title }}">
                  <span class="icon is-small"><i class="fa fa-music"></i></span>
                  {{ song.title }}
                </a>
              </li>
            {% endfor %}

            <li>
              <a href="#" class="is-active">
                <span class="icon"><i class="fas fa-table"></i></span>
                Library
              </a>
            </li>

          </ul>
        </aside>

        <!-- main content -->
        <div class="container column is-10">
          <div class="section">
            <!-- media player -->
            <div id="audio-player" class="box m-4">
              <p class="song-title mb-4">Select a song to hear the melody</p>
              <!-- audio sources -->
              <div style="display: none;">
                <audio id="soprano" controls>
                  <source data-src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio id="alto" controls>
                  <source data-src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio id="tenor" controls>
                  <source data-src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio id="bass" controls>
                  <source data-src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <!-- player control buttons -->
              <div style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
                <div class="controls">
                  <div>
                    <button class="button is-small" id="play-pause" style="margin-right: 1.5rem;">
                      <span>
                        <i class="fas fa-play"></i>
                      </span>
                    </button>
                    <button class="button is-small" id="music-tools" style="margin-right: 1.5rem;">
                      <span>
                        <i class="fas fa-music"></i>
                      </span>
                    </button>
                    <div class="has-icons-left is-mobile"> 
                        <span class="icon is-left"> 
                            <i class="fa fa-volume-high"></i> 
                        </span> 
                        <input type="range" id="volume-control" class="is-clickable is-mobile" min="0" max="1" step="0.01" value="1">
                    </div>
                  </div>
                </div>
              </div>
              <!-- progress bar -->
              <div class="section" style="padding: 1rem;">
                <input id="progress-bar" type="range" class="is-small is-clickable" value="0" min="0" max="100" step="0.01" style="margin-bottom: 0; width: 100%;">
                <div>
                  <div class="columns is-mobile">
                    <div class="column is-mobile is-half has-text-left" id="current-time">0:00</div>
                    <div class="column is-mobile is-half has-text-right" id="total-time">0:00</div>
                  </div>
                </div>
              </div>
              <!-- muting control -->
              <div style="margin-bottom: 1rem;">
                <button class="button" id="mute-all">
                  <span class="icon">
                    <i class="fas fa-volume-xmark"></i>
                  </span>
                  <span>All</span>
                </button>
                <button class="button" id="unmute-all">
                  <span class="icon">
                    <i class="fas fa-volume-high"></i>
                  </span>
                  <span>All</span>
                </button>
                <button class="button" id="mute-soprano">
                  <span class="icon">
                    <i class="fas fa-volume-high"></i>
                  </span>
                  <span>Soprano</span>
                </button>
                <button class="button" id="mute-alto">
                  <span class="icon">
                    <i class="fas fa-volume-high"></i>
                  </span>
                  <span>Alto</span>
                </button>
                <button class="button" id="mute-tenor">
                  <span class="icon">
                    <i class="fas fa-volume-high"></i>
                  </span>
                  <span>Tenor</span>
                </button>
                <button class="button" id="mute-bass">
                  <span class="icon">
                    <i class="fas fa-volume-high"></i>
                  </span>
                  <span>Bass</span>
                </button>
              </div>
            </div>
            <br>

            <!-- lyrics -->
            <div class="lyrics">
              <!-- lyrics to be generated js script -->
            </div>
            <br>

          </div>
        </div>
        
      </section>

    
    </div>
  {% endblock %}

  {% block scripts %}
    <script type="module" src="{{ url_for('static', filename='scripts/audio_mixer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/requests.js') }}"></script>
  {% endblock %}
